In [42]:
def Hello():
  print("Hello world!!")

Hello()

Hello world!!

In [43]:
def add():
  a=int(input("Enter value of a"))
  b=int(input("Enter value of b"))
  return a+b

add()

Enter value of a3
Enter value of b5

8

In [44]:
def calculator():
  a=int(input("Enter value of a"))
  b=int(input("Enter value of b"))
  operator=input("Enter a operator")


  if operator =="+":
    return a+b
  elif operator =="-":
    return a-b
  elif operator =="*":
    return a*b
  elif operator =="/":
    return a/b

  else:
      print("Invalid")

calculator()

Enter value of a4
Enter value of b5
Enter a operator3
Invalid

In [45]:
def func2(a,b):
  return a+b
func2(5,3)

8

In [46]:
def func2(a=3,b=5):
  return a+b
func2()

8

In [47]:
def func2(a=3,b=5):
  return a+b
func2()

def func3(a=5,b=3):
  return a+b
func3()

8

In [48]:
def func2(a=10,b=7):
  return a+b

func2()

17

In [49]:
x="Muhammad Mujtaba"
print(len(x))

16

In [50]:
x="Muhammad Mujtaba s/o Muhammad Saleem"
print(len(x))

36

Write a python function of Grade
Student name as an input and calculate their grades on conditions:
A - 80
B - 70
C - 60
D - 40

In [51]:
string1 ="Hello"
string2 ="Python"
print(string1 + string2)

HelloPython

In [52]:
string1 ="Hello  "
string2 ="Python"
print(string1 + string2)

Hello  Python

In [53]:
string1 ="Hello"
string2 ="Python"
string3="      "
print(string1 +string3 + string2)

Hello      Python

In [54]:
Write a python function of Grade Student name as an input and calculate their grades on conditions:
A - 80
B - 70
C - 60
D - 40

SyntaxError: invalid syntax (<ipython-input-54-18900dabebe7>, line 1)

In [69]:
def grade_student():
    student_name = input("Enter student name: ")
    score = int(input("Enter student score: "))

    if score >= 80:
        grade = 'A'
    elif score >= 70:
        grade = 'B'
    elif score >= 60:
        grade = 'C'
    elif score >= 40:
        grade = 'D'
    else:
        grade = 'F'

    print(f"{student_name} has received a score of {grade}.")

grade_student()

Enter student name: aszxz
Enter student score: 79
aszxz has received a score of B.

In [70]:
string1="Welcome to the AI class"
print(string1)

Welcome to the AI class

In [71]:
string1="I'm a Python"
print(string1)

I'm a Python

In [72]:
string1="I'm a Python"
print(string1[7])

y

In [73]:
string1="I'm a Python"
print(string1[-2])

o

In [74]:
string1='''I'm a Python developer'''
print(string1[4])

a

In [75]:
string1='"I"m a Python developer"'
print(string1[3])

m

In [76]:
string1="ArtificalIntelligence"
print("Initial String: ")
print(string1)

Initial String:
ArtificalIntelligence

In [77]:
string1="ArtificalIntelligence"
print(string1[4])

f

In [78]:
string1="ArtificalIntelligence"
print(string1[-7])

l

In [79]:
string1="ArtificalIntelligence"
print(string1[-4])

e

In [80]:
MyString='Learn Python'
print(MyString[0:5])
print(MyString[-12:-7])

Learn
Learn

In [81]:
MyString='Learn Python'
print(MyString[0:5])
print(MyString[-12:-7],"\n")

Learn
Learn

In [82]:
MyString='Learn Python'
print(MyString[6:])
print(MyString[:-7],"\n")

Python
Learn

In [83]:
MyString='Learn Python'
print(MyString[:])

Learn Python

In [41]:
x='Python Class'
print(x[::-1])

ssalC nohtyP

In [59]:
x='Python Class'
print(x[0:6:2])

Pto

In [65]:
x=[1,2,3,4,5]
print(x.index(4))

3

In [66]:
x='tan'
print(x.index('t'))

0

In [ ]:
x=[1,2,3,3,3,4,5,5]
print=