In [1]:
list3= ["a", "b", "c", "d"]
z= list3.index("c")
print(z)

2

In [2]:
list1= ['physics', 'chemistry', 1997, 2000]
list2= [1, 2, 3, 4, 5]
list3= ["a","b","c","d"]
X=list1.index('chemistry')
print(X)
X=list2.index(4,)
print(X)
X=list3.index("c")
print(X)

1
3
2

In [3]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [4]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
Extract the first two rows
Extract only the second column from all rows

In [44]:
# Extracting the first two rows
x = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

x = x[:2]
print(x)

[[1, 2, 3], [4, 5, 6]]

In [69]:
# Extracting the second column
x= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

x = x[1] for in x

print(x)

SyntaxError: invalid syntax (<ipython-input-69-f8d76edd653a>, line 9)

In [11]:
# Extract temperatures from index 2 to 6
temperatures = [32, 35, 30, 28, 40, 45, 38, 36, 33]
x = temperatures[2:6]

print(x)

[30, 28, 40, 45]

In [16]:
# Extract temperatures from index 4 to the end
temperatures = [32, 35, 30, 28, 40, 45, 38, 36, 33]
x = temperatures[4:]
print(x)

[40, 45, 38, 36, 33]

In [23]:
# Extract every second color
colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']

every_second_color = colors[1::2]

print(every_second_color)

['blue', 'yellow', 'orange']

In [32]:
# Extract every third color
colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']

z = colors[::3]
print(z)

['red', 'yellow', 'pink']

In [42]:
# Extract elements at odd indices
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

odd_indices = (numbers[0::2])
print(odd_indices)

[5, 15, 25, 35, 45]

In [55]:
# Extract elements at even indices
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

even_indices = (numbers[1::2])

print(even_indices)

[10, 20, 30, 40, 50]

In [71]:
# Extract every third element starting from index 2
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

a = numbers[2::3]
print(a)

[15, 30, 45]

In [59]:
# append itms in list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [66]:
# Insert items in list
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [62]:
# Extend items in list
thislist = ["apple", "banana", "cherry"]
thatlist = ["orange", "peach"]
thislist.extend(thatlist)
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'peach']

In [63]:
# add any lterable

thislist = ["apple", "mango", "cherry"]    # [] its used for list
thistuple = ("orange", "peach", "kiwi")     #() its used for tuple
thislist.extend(thistuple)
print(thislist)

['apple', 'mango', 'cherry', 'orange', 'peach', 'kiwi']

In [73]:
# Remove specified items

thislist = ["apple", "banana", "peach"]
thislist.remove("apple")
print(thislist)

['banana', 'peach']

In [75]:
# Remove specified index

thislist = ["apple", "banana", "peach"]
del thislist[1]
print(thislist)

['apple', 'peach']

In [85]:
# Remove specified index

thislist = ["apple", "mango", "cherry"]
thislist.remove("apple")
print(thislist)

['mango', 'cherry']

In [76]:
#sort list alphabatically

thislist = ["apple", "banana", "peach" , "mango", "cherry", "kiwi"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'peach']

In [77]:
#sort the list numerically

thislist = [100, 70, 45, 20, 16, 64, 82]
thislist.sort()
print(thislist)

[16, 20, 45, 64, 70, 82, 100]

In [78]:
#sort list desending

thislist = ["apple", "banana", "peach" , "mango", "cherry", "kiwi"]
thislist.sort(reverse = True)
print(thislist)

['peach', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [79]:
#sort the list desending

thislist = [100, 70, 45, 20, 16, 64, 82]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 70, 64, 45, 20, 16]

In [83]:
# case sensitive sort

thislist = ["apple", "Banana", "Peach" , "mango", "cherry", "Kiwi"]
thislist.sort()
print(thislist)

['Banana', 'Kiwi', 'Peach', 'apple', 'cherry', 'mango']

In [84]:
# reverse order

thislist = ["apple", "Banana", "Peach" , "mango", "cherry", "Kiwi"]
thislist.reverse()
print(thislist)

['Kiwi', 'cherry', 'mango', 'Peach', 'Banana', 'apple']

In [87]:
# copy list

thislist = ["apple", "Banana", "Peach" , "mango", "cherry", "Kiwi"]
mylist=thislist.copy()
print(mylist)

['apple', 'Banana', 'Peach', 'mango', 'cherry', 'Kiwi']

In [93]:
# join two lists 1st method

list1 = ['a', 'b', 'c']
list2 = ['1', '2', '3', '4']

list3 = list1 + list2
print(list3)

['a', 'b', 'c', '1', '2', '3', '4']

In [92]:
# join two lists  2nd method

list1 = ['a', 'b', 'c']
list2 = ['1', '2', '3', '4']

list1.extend(list2)
print(list1)

['a', 'b', 'c', '1', '2', '3', '4']